/**************** Extra Small Screens From 501px to 767px ****************/

@media (max-width:767px) {
    .header {
        height: auto;
        padding: 20px 0;
    }
    .page-language {
        display: none;
    }
    html[dir=ltr] .logo {
        text-align: left;
    }
    .user-terms {
        height: auto;
        margin-top: 25px;
    }
    .user-terms .terms-content {
        margin-top: 0;
    }
    .user-terms .menu,
    .user-terms .search {
        display: flex;
    }
    .user-terms .fav {
        display: none;
    }
    .user-terms .terms-content:nth-child(1),
    .user-terms .terms-content:nth-child(2),
    .user-terms .terms-content:nth-child(3) {
        margin-left: 15px;
    }
    html[dir=ltr] .user-terms .terms-content:nth-child(1),
    html[dir=ltr] .user-terms .terms-content:nth-child(2),
    html[dir=ltr] .user-terms .terms-content:nth-child(3) {
        margin-left: 0;
        margin-right: 15px;
    }
    .user-terms .config-icon,
    .user-terms .shop-icon,
    .user-terms .menu-icon,
    .user-terms .search-icon {
        margin-left: 0;
        font-size: 22px;
    }
    html[dir=ltr] .user-terms .config-icon,
    html[dir=ltr] .user-terms .shop-icon,
    html[dir=ltr] .user-terms .menu-icon,
    html[dir=ltr] .user-terms .search-icon {
        margin-left: auto;
        margin-right: 0;
    }
    .user-terms .search-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4px;
    }
    .user-terms .config-icon {
        margin-top: 3px;
    }
    .user-terms .shop-icon {
        margin-top: 3px;
    }
    .user-terms .menu-icon {
        margin-top: 4px;
    }
    .user-terms .config-name,
    .user-terms .fav-name,
    .user-terms .shop-name {
        display: none;
    }
    /*** Start Of Config List ***/
    .terms-content .user-config {
        left: 16px;
    }
    html[dir=ltr] .terms-content .user-config {
        left: auto;
        right: -114px;
    }
    /*** Start Search Box ***/
    .search-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 30%);
        height: auto;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 99999;
        display: none;
    }
    .close-search-btn {
        display: block;
        position: absolute;
        top: 30%;
        left: 50%;
        color: #000;
        transform: translateX(-50%);
        outline: none;
        border: none;
        width: 45px;
        height: 45px;
        line-height: 50px;
        text-align: center;
        font-size: 25px;
        opacity: 1;
        z-index: 99999;
        border-radius: 50%;
        display: none;
    }
    .search-bar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .search-bar .search-input {
        width: 100%;
    }
    .open-search::after {
        content: "\e86f";
        font-family: 'Linearicons-Free';
    }
    .close-search::after {
        content: "\e870";
        font-family: 'Linearicons-Free';
    }
    /*** End Search Box ***/
    /*** Start Of Side Menu ***/
    .nav {
        position: fixed;
        top: 0;
        padding: 23px 5px 30px 5px;
        margin-bottom: 0;
        right: -580px;
        width: 260px;
        height: 100%;
        overflow: auto;
        z-index: 99999;
        transition: all 0.4s ease-in-out;
    }
    html[dir=ltr] .nav {
        transition: all 0.4s ease-in-out;
        right: auto;
        left: -580px;
    }
    .close,
    .nav .lang-name,
    .nav .lang-list,
    .nav .config-box,
    .nav .my-account {
        display: flex;
    }
    .nav .close {
        position: absolute;
        top: 20px;
        left: 20px;
        outline: none;
        border: none;
        background-color: transparent;
        color: #fff;
        opacity: 1;
        z-index: 9999;
        font-size: 22px;
    }
    html[dir=ltr] .nav .close {
        left: auto;
        right: 20px;
    }
    .nav .nav-content {
        flex-direction: column;
    }
    html[dir=ltr] .nav .nav-content {
        flex-direction: column;
        text-align: left;
    }
    .nav .lang {
        display: flex;
        margin-bottom: 60px;
    }
    html[dir=ltr] .nav .lang {
        flex-direction: row-reverse;
    }
    .nav .saudia {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    html[dir=ltr] .nav .saudia {
        margin-left: 0;
    }
    .nav .lang-name {
        margin-top: 0;
        margin-bottom: 0;
        color: #fff;
        font-family: "medium";
        cursor: pointer;
        flex-direction: row;
        transition: all 0.4s ease-in-out;
    }
    html[dir=ltr] .nav .lang-name {
        flex-direction: row-reverse;
    }
    .nav .lang-name:hover {
        color: #eab326;
    }
    .nav .lang-list {
        position: absolute;
        right: 0;
        top: 20px;
        width: auto;
        margin-bottom: 0;
        background-color: transparent;
        text-align: right;
        z-index: auto;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        display: none;
    }
    html[dir=ltr] .nav .lang-list {
        text-align: left;
        left: 0;
    }
    .nav .lang-list .lang-list-li {
        padding: 0;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    html[dir=ltr] .nav .lang-list .lang-list-li {
        margin-right: auto;
        margin-left: 10px;
    }
    .nav .lang-list .lang-list-li:first-child::after {
        display: none;
    }
    .lang-list .page-link {
        color: #fff;
        font-size: 13px;
        font-family: "medium";
        transition: all 0.4s ease-in-out;
    }
    .lang-list .page-link:hover {
        color: #eab326;
    }
    .nav-content .nav-list {
        flex-direction: column;
        text-align: left;
    }
    html[dir=ltr] .nav-content .nav-list {
        flex-direction: column;
    }
    .nav-list .nav-li {
        margin-left: 0;
        padding: 0;
    }
    html[dir=ltr] .nav-list .nav-li {
        /* margin-right: auto; */
        margin-left: 0;
    }
    .nav-list .nav-li .nav-link {
        padding: 5px 0;
        display: flex;
        flex-direction: row;
    }
    html[dir=ltr] .nav-list .nav-li .nav-link {
        flex-direction: row-reverse;
    }
    .shabi .nav-link {
        flex-direction: row;
        justify-content: space-between;
    }
    html[dir=ltr] .shabi .nav-link {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .shabi .nav-link::after {
        content: '\e874';
        font-family: 'Linearicons-Free';
        margin-left: 10px;
        margin-top: 2px;
    }
    html[dir=ltr] .shabi .nav-link::after {
        margin-right: -15px;
    }
    .shabi-list {
        position: relative;
        visibility: visible;
        opacity: 1;
        top: auto;
        right: auto;
        background-color: transparent;
        box-shadow: none;
        z-index: auto;
        text-align: right;
        display: none;
    }
    html[dir=ltr] .shabi-list {
        margin-right: auto;
        left: auto;
    }
    .shabi-list .shabi-li {
        padding: 0;
        margin-bottom: 5px;
        margin-right: 10px;
    }
    html[dir=ltr] .shabi-list .shabi-li {
        margin-right: auto;
        margin-left: 10px;
    }
    .shabi-list .shabi-li:last-child {
        margin-bottom: 0;
    }
    .shabi-list .shabi-li:nth-child(1)::after,
    .shabi-list .shabi-li:nth-child(2)::after {
        display: none;
    }
    .shabi-list .shabi-link {
        color: #fff;
        font-size: 13px;
    }
    .shabi-list .shabi-link:hover {
        color: #eab326;
    }
    .nav .my-account {
        padding: 5px 0;
        margin-bottom: 0;
        color: #fff;
        font-family: "medium";
        font-size: 16px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: all 0.4s ease-in-out;
    }
    html[dir=ltr] .nav .my-account {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .nav .my-account::after {
        content: '\e874';
        font-family: 'Linearicons-Free';
        margin-left: 10px;
        margin-top: 2px;
    }
    html[dir=ltr] .nav .my-account::after {
        margin-left: auto;
        margin-right: -15px;
    }
    .nav .my-account:hover {
        color: #eab326;
    }
    .nav .config-box {
        display: none;
        flex-direction: column;
    }
    .nav .config-box .getin {
        background-color: transparent;
        text-align: right;
        padding: 0;
        margin-right: 10px;
    }
    .nav .config-box .getin:first-child {
        padding-bottom: 5px;
    }
    html[dir=ltr] .nav .config-box .getin {
        text-align: left;
        margin-right: auto;
        margin-left: 10px;
    }
    .nav .config-box .getin:first-child::after {
        display: none;
    }
    .nav .config-box .getin .getin-link {
        color: #fff;
        font-family: "medium";
        font-size: 13px;
        transition: all 0.4s ease-in-out;
    }
    .nav .config-box .getin .getin-link:hover {
        color: #eab326;
    }
    .menu-open {
        right: 0;
    }
    html[dir=ltr] .menu-open {
        right: auto;
        left: 0;
    }
    .nav .nav-contact {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .nav-contact .contact-icon {
        font-size: 28px;
        margin-bottom: 5px;
    }
    .nav-contact .contact-number .tel {
        font-size: 22px;
    }
    html[dir=ltr] .nav .nav-contact {
        flex-direction: column;
        align-items: center;
    }
    html[dir=ltr] .nav-contact .contact-icon {
        margin-left: 0;
        text-align: center;
    }
    /*** End Of Side Menu ***/
    .main-slider .owl-carousel .owl-dots {
        bottom: 5px;
    }
    .cat .cat-content {
        flex-direction: column;
    }
    html[dir=ltr] .cat .cat-content {
        flex-direction: column;
    }
    .cat-item:nth-child(1),
    .cat-item:nth-child(2) {
        margin-left: 0;
        margin-bottom: 20px;
    }
    html[dir=ltr] .cat-item:nth-child(1),
    html[dir=ltr] .cat-item:nth-child(2) {
        margin-right: 0;
    }
    .products-title {
        justify-content: space-between;
    }
    html[dir=ltr] .products-title {
        justify-content: space-between;
        margin-right: 0;
    }
    html[dir=ltr] .products-title .show-more {
        margin-right: 0;
    }
    .gallary .gallary-content {
        display: block;
        margin-bottom: 20px;
    }
    .newsletter .email {
        width: calc(100% - 20%);
    }
    .newsletter .email .email-input {
        width: 100%;
    }
    .newsletter-content .newsletter-disc {
        font-size: 18px;
    }
    .footer {
        padding: 60px 0px 20px 0px;
    }
    .footer-top .one {
        text-align: center;
        margin-bottom: 30px;
    }
    html[dir=ltr] .footer-top .one {
        text-align: center;
    }
    html[dir=ltr] .footer-col .footer-p {
        text-align: center;
        word-spacing: auto;
    }
    .footer-top .two .footer-heading {
        margin-right: 20px;
        margin-bottom: 10px;
    }
    html[dir=ltr] .footer-top .two .footer-heading {
        margin-right: auto;
        margin-left: 20px;
    }
    .footer-top .two .footer-heading::after {
        content: '\e874';
        font-family: 'Linearicons-Free';
        position: absolute;
        left: 35px;
    }
    html[dir=ltr] .footer-top .two .footer-heading::after {
        left: auto;
        right: 35px;
    }
    .footer-top .two .info-list {
        margin-right: 30px;
    }
    html[dir=ltr] .footer-top .two .info-list {
        margin-right: auto;
        margin-left: 30px;
    }
    .footer-top .footer-col .footer-heading {
        margin-top: 10px;
    }
    .footer-top .three {
        margin-top: 30px;
        text-align: center;
    }
    html[dir=ltr] .footer-top .three .footer-heading {
        text-align: center;
    }
    .footer-icon-list {
        justify-content: center;
    }
    .footer-bottom .copyrights {
        flex-direction: column;
        align-items: center;
        order: 2;
    }
    html[dir=ltr] .footer-bottom .copyrights {
        flex-direction: column;
    }
    .last-p .tasawk {
        margin-right: 5px;
    }
    .payment {
        margin-bottom: 40px;
    }
}


/**************** Extra Small Screens From 0 to 500px ****************/

@media (max-width:500px) {
    .user-terms {
        height: auto;
        margin-top: 10px;
    }
    .search-box {
        width: calc(100% - 10%);
    }
    .newsletter .email {
        width: calc(100% - 10%);
    }
    .newsletter-content .newsletter-disc {
        font-size: 16px;
    }
    .footer-top .two .footer-heading {
        margin-right: 10px;
    }
    .footer-top .two .footer-heading::after {
        left: 25px;
    }
    .footer-top .two .info-list {
        margin-right: 20px;
    }
    html[dir=ltr] .footer-top .two .info-list {
        margin-right: auto;
        margin-left: 30px;
    }
}


/*********************  Small Screens *********************/

@media (min-width:768px) and (max-width:991px) {
    .header {
        height: auto;
        padding: 20px 0;
    }
    .page-language {
        display: none;
    }
    html[dir=ltr] .logo {
        text-align: left;
    }
    .user-terms {
        height: auto;
        margin-top: 25px;
    }
    .user-terms .terms-content {
        margin-top: 0;
    }
    .user-terms .menu,
    .user-terms .search {
        display: flex;
    }
    .user-terms .fav {
        display: none;
    }
    .user-terms .terms-content:nth-child(1),
    .user-terms .terms-content:nth-child(2),
    .user-terms .terms-content:nth-child(3) {
        margin-left: 15px;
    }
    html[dir=ltr] .user-terms .terms-content:nth-child(1),
    html[dir=ltr] .user-terms .terms-content:nth-child(2),
    html[dir=ltr] .user-terms .terms-content:nth-child(3) {
        margin-left: 0;
        margin-right: 20px;
    }
    .user-terms .config-icon,
    .user-terms .shop-icon,
    .user-terms .menu-icon,
    .user-terms .search-icon {
        margin-left: 0;
        font-size: 24px;
    }
    html[dir=ltr] .user-terms .config-icon,
    html[dir=ltr] .user-terms .shop-icon,
    html[dir=ltr] .user-terms .menu-icon,
    html[dir=ltr] .user-terms .search-icon {
        margin-left: auto;
        margin-right: 0;
    }
    .user-terms .search-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4px;
    }
    .user-terms .config-icon {
        margin-top: 3px;
    }
    .user-terms .shop-icon {
        margin-top: 3px;
    }
    .user-terms .menu-icon {
        margin-top: 4px;
    }
    .user-terms .config-name,
    .user-terms .fav-name,
    .user-terms .shop-name {
        display: none;
    }
    /*** Start Of Config List ***/
    .terms-content .user-config {
        left: 15px;
        top: 33px;
    }
    html[dir=ltr] .terms-content .user-config {
        left: auto;
        right: -120px;
    }
    /*** Start Search Box ***/
    .search-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 40%);
        height: auto;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 99999;
        display: none;
    }
    .close-search-btn {
        display: block;
        position: absolute;
        top: 30%;
        left: 50%;
        color: #000;
        transform: translateX(-50%);
        outline: none;
        border: none;
        width: 45px;
        height: 45px;
        line-height: 50px;
        text-align: center;
        font-size: 25px;
        opacity: 1;
        z-index: 99999;
        border-radius: 50%;
        display: none;
    }
    .search-bar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .search-bar .search-input {
        width: 100%;
    }
    .open-search::after {
        content: "\e86f";
        font-family: 'Linearicons-Free';
    }
    .close-search::after {
        content: "\e870";
        font-family: 'Linearicons-Free';
    }
    /*** End Search Box ***/
    /*** Start Of Side Menu ***/
    .nav {
        position: fixed;
        top: 0;
        padding: 23px 5px 30px 5px;
        margin-bottom: 0;
        right: -580px;
        width: 300px;
        height: 100%;
        overflow: auto;
        z-index: 99999;
        transition: all 0.4s ease-in-out;
    }
    html[dir=ltr] .nav {
        transition: all 0.4s ease-in-out;
        right: auto;
        left: -580px;
    }
    .close,
    .nav .lang-name,
    .nav .lang-list,
    .nav .config-box,
    .nav .my-account {
        display: flex;
    }
    .nav .close {
        position: absolute;
        top: 20px;
        left: 20px;
        outline: none;
        border: none;
        background-color: transparent;
        color: #fff;
        opacity: 1;
        z-index: 9999;
        font-size: 22px;
    }
    html[dir=ltr] .nav .close {
        left: auto;
        right: 20px;
    }
    .nav .container {
        width: 100%;
    }
    .nav .nav-content {
        flex-direction: column;
    }
    html[dir=ltr] .nav .nav-content {
        flex-direction: column;
        text-align: left;
    }
    .nav .lang {
        margin-bottom: 60px;
    }
    html[dir=ltr] .nav .lang {
        flex-direction: row-reverse;
    }
    .nav .saudia {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    html[dir=ltr] .nav .saudia {
        margin-left: 0;
    }
    .nav .lang-name {
        margin-top: 0;
        margin-bottom: 0;
        color: #fff;
        font-family: "medium";
        cursor: pointer;
        flex-direction: row;
        transition: all 0.4s ease-in-out;
    }
    html[dir=ltr] .nav .lang-name {
        flex-direction: row-reverse;
    }
    .nav .lang-name:hover {
        color: #eab326;
    }
    .nav .lang-list {
        position: absolute;
        left: auto;
        top: 20px;
        width: auto;
        margin-bottom: 0;
        background-color: transparent;
        text-align: right;
        z-index: auto;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        display: none;
    }
    html[dir=ltr] .nav .lang-list {
        text-align: left;
        left: 0;
    }
    .nav .lang-list .lang-list-li {
        padding: 0;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    html[dir=ltr] .nav .lang-list .lang-list-li {
        margin-right: auto;
        margin-left: 10px;
    }
    .nav .lang-list .lang-list-li:first-child::after {
        display: none;
    }
    .lang-list .page-link {
        color: #fff;
        font-size: 13px;
        font-family: "medium";
        transition: all 0.4s ease-in-out;
    }
    .lang-list .page-link:hover {
        color: #eab326;
    }
    .nav-content .nav-list {
        flex-direction: column;
        text-align: left;
    }
    html[dir=ltr] .nav-content .nav-list {
        flex-direction: column;
    }
    .nav-list .nav-li {
        margin-left: 0;
        padding: 0;
    }
    html[dir=ltr] .nav-list .nav-li {
        /* margin-right: auto; */
        margin-left: 0;
    }
    .nav-list .nav-li .nav-link {
        padding: 5px 0;
        display: flex;
        flex-direction: row;
    }
    html[dir=ltr] .nav-list .nav-li .nav-link {
        flex-direction: row-reverse;
    }
    .shabi .nav-link {
        flex-direction: row;
        justify-content: space-between;
    }
    html[dir=ltr] .shabi .nav-link {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .shabi .nav-link::after {
        content: '\e874';
        font-family: 'Linearicons-Free';
        margin-left: 10px;
        margin-top: 2px;
    }
    html[dir=ltr] .shabi .nav-link::after {
        margin-right: -15px;
    }
    .shabi-list {
        position: relative;
        visibility: visible;
        opacity: 1;
        top: auto;
        right: auto;
        background-color: transparent;
        box-shadow: none;
        z-index: auto;
        text-align: right;
        display: none;
    }
    html[dir=ltr] .shabi-list {
        margin-right: auto;
        left: auto;
    }
    .shabi-list .shabi-li {
        padding: 0;
        margin-bottom: 5px;
        margin-right: 10px;
    }
    html[dir=ltr] .shabi-list .shabi-li {
        margin-right: auto;
        margin-left: 10px;
    }
    .shabi-list .shabi-li:last-child {
        margin-bottom: 0;
    }
    .shabi-list .shabi-li:nth-child(1)::after,
    .shabi-list .shabi-li:nth-child(2)::after {
        display: none;
    }
    .shabi-list .shabi-link {
        color: #fff;
        font-size: 13px;
    }
    .shabi-list .shabi-link:hover {
        color: #eab326;
    }
    .nav .my-account {
        padding: 5px 0;
        margin-bottom: 0;
        color: #fff;
        font-family: "medium";
        font-size: 16px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: all 0.4s ease-in-out;
    }
    html[dir=ltr] .nav .my-account {
        flex-direction: row-reverse;
    }
    .nav .my-account::after {
        content: '\e874';
        font-family: 'Linearicons-Free';
        margin-left: 10px;
        margin-top: 2px;
    }
    html[dir=ltr] .nav .my-account::after {
        margin-left: auto;
        margin-right: -15px;
    }
    .nav .my-account:hover {
        color: #eab326;
    }
    .nav .config-box {
        display: none;
        flex-direction: column;
    }
    .nav .config-box .getin {
        background-color: transparent;
        text-align: right;
        padding: 5px 0 0 0;
        margin-right: 10px;
    }
    html[dir=ltr] .nav .config-box .getin {
        text-align: left;
        margin-right: auto;
        margin-left: 10px;
    }
    .nav .config-box .getin:first-child::after {
        display: none;
    }
    .nav .config-box .getin .getin-link {
        color: #fff;
        font-family: "medium";
        font-size: 13px;
        transition: all 0.4s ease-in-out;
    }
    .nav .config-box .getin .getin-link:hover {
        color: #eab326;
    }
    .menu-open {
        right: 0;
    }
    html[dir=ltr] .menu-open {
        right: auto;
        left: 0;
    }
    .nav .nav-contact {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .nav-contact .contact-icon {
        font-size: 28px;
        margin-bottom: 5px;
    }
    .nav-contact .contact-number .tel {
        font-size: 22px;
    }
    html[dir=ltr] .nav .nav-contact {
        flex-direction: column;
        align-items: center;
    }
    html[dir=ltr] .nav-contact .contact-icon {
        margin-left: 0;
        text-align: center;
    }
    /*** End Of Side Menu ***/
    .main-slider .owl-carousel .owl-dots {
        bottom: 5px;
    }
    .cat .cat-content {
        flex-direction: column;
    }
    html[dir=ltr] .cat .cat-content {
        flex-direction: column;
    }
    .cat-item:nth-child(1),
    .cat-item:nth-child(2) {
        margin-left: 0;
        margin-bottom: 20px;
    }
    html[dir=ltr] .cat-item:nth-child(1),
    html[dir=ltr] .cat-item:nth-child(2) {
        margin-right: 0;
    }
    .products-title {
        justify-content: space-between;
    }
    html[dir=ltr] .products-title {
        justify-content: space-between;
        margin-right: 0;
    }
    html[dir=ltr] .products-title .show-more {
        margin-right: 0;
    }
    .gallary .gallary-content {
        display: block;
        margin-bottom: 20px;
    }
    .newsletter .email {
        width: calc(100% - 20%);
    }
    .newsletter .email .email-input {
        width: 100%;
    }
    .newsletter-content .newsletter-disc {
        font-size: 18px;
    }
    .footer-top .one {
        text-align: center;
        margin-bottom: 30px;
    }
    html[dir=ltr] .footer-top .one {
        text-align: center;
    }
    html[dir=ltr] .footer-col .footer-p {
        text-align: center;
        word-spacing: auto;
    }
    .footer-top .two .footer-heading {
        margin-right: 20px;
        margin-bottom: 10px;
    }
    html[dir=ltr] .footer-top .two .footer-heading {
        margin-right: auto;
        margin-left: 20px;
    }
    .footer-top .two .footer-heading::after {
        content: '\e874';
        font-family: 'Linearicons-Free';
        position: absolute;
        left: 35px;
    }
    html[dir=ltr] .footer-top .two .footer-heading::after {
        left: auto;
        right: 35px;
    }
    .footer-top .two .info-list {
        margin-right: 30px;
    }
    html[dir=ltr] .footer-top .two .info-list {
        margin-right: auto;
        margin-left: 30px;
    }
    .footer-top .footer-col .footer-heading {
        margin-top: 10px;
    }
    .footer-top .three {
        margin-top: 30px;
        text-align: center;
    }
    html[dir=ltr] .footer-top .three .footer-heading {
        text-align: center;
    }
    .footer-icon-list {
        justify-content: center;
    }
    .footer-bottom .copyrights {
        flex-direction: column;
        align-items: center;
        order: 2;
    }
    html[dir=ltr] .footer-bottom .copyrights {
        flex-direction: column;
    }
    .last-p .tasawk {
        margin-right: 5px;
    }
    .payment {
        margin-bottom: 40px;
    }
}


/*********************  Medium Screens ********************/

@media (min-width:992px)and (max-width:1199px) {
    .footer-top .two .footer-heading,
    .footer-top .two .info-list {
        margin-right: 20px;
    }
    html[dir=ltr] .footer-top .two .footer-heading,
    html[dir=ltr] .footer-top .two .info-list {
        margin-right: auto;
        margin-left: 20px;
    }
    .search-bar .search-input {
        width: 370px;
    }
}


/*********************  Large Screens *********************/

@media (min-width:1200px) {}